{{ define "footer"}}
 <footer class="page-footer brown darken-3">
    <div class="container">
      <div class="row">
        <div class="col l12 s12 center">
          <h5 class="white-text">Зачем это здесь?</h5>
          <p class="grey-text text-lighten-4"> Да просто дело было вечером,  а точнее ночью,  делать было нечего,  добрался до задания, вот что в итоге вышло</p>


        </div>
        
        
    </div>
    
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="templates/js/materialize.js"></script>
  <script src="templates/js/init.js"></script>

  </body>
</html>
{{ end }}