{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Аггрегатор новостей</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="templates/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="templates/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="teal darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Аггрегатор -  звучит страшно</a>
			
      <ul class="right hide-on-med-and-down">
        <li><a href="/settings">Настройки</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/settings">Настройки</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div class="container">
   <div class="row">
    
    <form class="col s12" action="/load" method="post">
    <div class="input-field col s4">
          <input id="find" name="find" type="text" class="validate" value="{{ .Port }}">
          <label for="port">Поиск</label>
    </div>
    <div class="input-field col s4 ">
          <button id="search_btn" class="btn-floating waves-effect waves-light" type="submit">
            <i class="material-icons right">search</i>
          </button>
         
        </div>
  </form>
  </div>
  </div>
{{ end }}